@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Causten";
  src: url("../../public/fonts/Causten-Regular.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../../public/fonts/Causten-Medium.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../../public/fonts/Causten-SemiBold.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../../public/fonts/Causten-Bold.otf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --rolling-brown-100: 173, 172, 163;
  --rolling-brown-200: 215, 205, 185;
  --rolling-brown-300: 58, 51, 40;
  --rolling-brown-400: 34, 32, 28;
  --rolling-brown-500: 28, 26, 23;
  --rolling-brown-200-60: 215, 205, 185, 0.6;
  --rolling-brown-200-50: 215, 205, 185, 0.5;
  --rolling-brown-300-60: 58, 51, 40, 0.6;
  --rolling-brown-300-50: 58, 51, 40, 0.5;
  --rolling-brown-300-10: 58, 51, 40, 0.1;
}

body {
  color: rgb(var(--rolling-brown-500));
}

* {
  margin: 0;
  padding: 0;
}

/* links and text */

*,
a {
  @apply box-border;
}

.header-nav {
  @apply hidden md:block text-sm lg:text-base ml-[8px] uppercase tracking-widest text-brown-300 relative after:bg-brown-300 after:absolute after:h-px after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300;
}

.circle {
  transform: rotate(180deg);
}

.text-border-white {
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
}

.base-layout {
  @apply px-[22px] md:px-[44px] lg:px-[60px] xl:px-[96px];
}

.div-border-white {
  box-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
}
